// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.
[data-engrid-theme="tpl"] {
  --color_earth: #362229;
  --color_black: #434343;
  --color_evergreen: #006837;
  --color_fern: #39B54A;
  --color_grass: #8CC63F;
  --color_moss: #CEE4C5;
  --color_sun: #f7931e;
  --color_sky: #5DD8D8;
  --color_snow: #F5FAF1;
  --color_white: #FFFFFF;
  --color_tertiary-evergreen: #1A1A1A;
  --color_semantic-red: #700310;
  --color_semantic-required: #DC0404;

  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;
  --3xl: 64px;

  --engrid__body_background-color: var(--color_snow);
  --engrid__body_padding: 0 64px;
  --engrid__body-headerOutside_background-color: var(--color_snow);
  --engrid__body-headerOutside_padding: 63px 64px 10px 64px;
  --engrid__body-title_padding: var(--lg) 64px 0 64px;
  --engrid__body-top_padding: 7px 64px var(--xl) 64px;
  --engrid__body-bottom_padding: var(--lg) 64px 56px 64px;
  --engrid__content-footer_margin: 0;
  --engrid__content-footer_padding: var(--3xl);
  --engrid__content-footer_background-color: var(--color_earth);
  --engrid__content-footer_color: var(--color_white);

  --click-to-expand__copy-area_height: 126px;
  --click-to-expand__cta-image_height: 26px;
  // TYPOGRAPHY DEFAULT
  --default_font-family: "Helvetica Neue", var(--native-fonts__sans-serif);
  --default_color: var(--color_black);
  --default_font-size: 22px;
  // --default_font-weight: initial;
  --default_line-height: 1.5em;

  // TYPOGRAPHY H1
  // --h1_font-family: var(--default_font-family);
  --h1_color: var(--color_earth);
  --h1_letter-spacing: 0.48px;
  --h1_font-size: 48px;
  --h1_font-weight: 700;
  --h1_line-height: 54px;

  // TYPOGRAPHY H2
  --h2_color: var(--color_earth);
  --h2_font-size: 29px;
  --h2_line-height: 1.1em;

  // TYPOGRAPHY P
  --p_font-family: "PT Sans", var(--native-fonts__sans-serif);
  --p_color: var(--color_black);
  --p_font-size: 18px;
  --p_line-height: 28px;
  // --p_font-weight: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  --a_font-size: var(--default_font-size);
  --a_color: var(--color_evergreen);
  --a_line-height: var(--default_line-height);
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY LABEL
  --label_font-family: var(--p_font-family);
  --label_color: var(--color_black);
  --label_font-weight: 700;

  // TYPOGRAPHY INPUT
  --input_font-family: var(--p_font-family);
  // --input_color: #000000;
  --input_font-size: 22px;
  // --input_font-weight: initial;
  --input_line-height: 27px;
  --input_background-color: var(--color_white);
  --input_border-width: 2px;
  --input_border-color: #5C5D5F;
  --input_border-radius: 8px;
  --input_placeholder-color: #B7AFB2;
  --input_box-shadow: unset;
  --input_padding: 16.5px 20px;


  --radio_font-size: 20px;

  --checkbox_width: 24px;
  --checkbox_height: 24px;
  --checkbox_border-radius: 4px;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  // --input_color_hover: var(--input_color);
  // --input_background-color_hover: var(--input_background-color);
  // --input_border-color_hover: #767677;
  // --input_border-bottom-color_hover: var(--input_border-color_hover);
  // --input_box-shadow_hover: --input_box-shadow;

  // TYPOGRAPHY BUTTON
  // --button_font-family: var(--default_font-family);
  --button_color: var(--color_earth);
  --button_border-color: var(--color_evergreen);
  --button_border-width: 2px;
  --button_font-size: 25px;
  --button_background-color: var(--color_white);
  --button_font-weight: 500;
  // --button_line-height: initial;
  // --button_background-color: initial;;
  --button_border-radius: 8px;

  --button_background-color_hover: #CCE1D7;
  --button_border-color_hover: var(--color_evergreen);
  --button_background-color_checked: var(--color_evergreen);
  --button_border-color_checked: var(--color_evergreen);
  --button_color_checked: var(--color_white);

  --donation-amount__button_border-radius: 100px;
  --donation-amount__button_background-color_checked: var(--button_background-color_checked);
  --donation-amount__button_color_checked: var(--button_color_checked);
  --donation-amount__button_text-transform: capitalize;
  --donation-amount__button_font-weight: 700;
  --recurring-frequency__button_border-radius: 100px;
  --recurring-frequency__button_background-color: transparent;
  --recurring-frequency__button_background-color_checked: transparent;
  --recurring-frequency__button_color_checked: var(--color_white);
  --recurring-frequency__button_background-color_hover: transparent;
  --recurring-frequency__button_border-color_hover: transparent;
  --recurring-frequency__button_border-color: transparent;
  --recurring-frequency__button_border-width: 0px;
  --recurring-frequency__button_font-size: 28px;
  --recurring-frequency__button_font-weight: 700;
  --recurring-payment__button_line-height: 28px;
  --submit__button_font-size: 36px;
  --submit__button_border-width: 0px;
  --submit__button_background-color: var(--color_evergreen);
  --submit__button_color: var(--color_white);
  --submit__button_background-color_hover: var(--color_sun);
  --submit__button_color_hover: var(--color_evergreen);

  // DONATION PAGE
  --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  --recurring-frequency__button_count: 2;
  --donation-amount__button_count: 3;
  --give-by-select__button_count: 1;

  --arrow-bg-url: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/arrow-reveal.svg?v=1781202765000");

  .body-headerOutside {
    p {
      margin: 0;
    }

    .main_logo {
      height: 60px;
    }
  }

  h1 {
    margin: 0 0;
  }

  span {
    font-size: var(--default_font-size);
    line-height: var(--default_line-height);
  }

  a {
    color: var(--a_color);
    font-size: var(--a_font-size);
    line-height: var(--a_line-height);
    text-decoration: underline;
  }

  .body-title h1 {
    max-width: 500px;
  }

  .body-top {
    --p_line-height: 27px;
  }

  .label-styled {
    font-family: var(--label_font-family);
    font-size: var(--label_font-size);
    font-weight: var(--label_font-weight);
    color: var(--label_color);
    margin-bottom: var(--sm);
  }

  @at-root body#{&}:not(#en__pagebuilder) .click-to-expand:not(.expanded) {
    isolation: isolate;
    position: relative;
    z-index: 1;

    .click-to-expand-text-wrapper {
      max-height: var(--click-to-expand__copy-area_height);
      z-index: 2;
      mask-image: linear-gradient(to bottom, #000 50%, #fff0 calc(100% - 26px));
    }

    .click-to-expand-cta {
      z-index: 3;
      background-image: none;
      width: unset;

      &::after {
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        content: "Learn More";
        display: inline-block;
        font-family: var(--p_font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        border-bottom: 2px solid var(--color_evergreen);
        background: var(--engrid__body_background-color);
        height: 100%;
      }
    }
  }

  .enWidget.enWidget--progressBar {
    margin-top: var(--lg);
    margin-bottom: calc(var(--xl) + 20px);
    padding: 0;

    .enWidget__copy--above {
      font-family: var(--default_font-family);
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 1px;
      margin-bottom: 22px;

      // Goal
      div:nth-child(1) {
        color: var(--color_earth);
        margin-right: 28px;
      }

      div:nth-child(2) {
        color: var(--color_evergreen);
        margin-right: 12px;
      }

      div:nth-child(3) {
        color: var(--color_semantic-red);
        border-left: 1px solid #CDCDCD;
        padding-left: 12px;
      }

      h5 {
        color: var(--color_tertiary-evergreen);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 1px;
      }
    }

    .enWidget__display {
      position: relative;
    }

    .enWidget__display::before {
      content: "";
      background: url("data:image/svg+xml,%3Csvg%20width%3D%22603%22%20height%3D%2220%22%20viewBox%3D%220%200%20603%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M351.644.6v18.789M301.5.6v18.789M251.355.6v18.789M201.209.6v18.789M151.064.6v18.789M100.918.6v18.789M50.773.6v18.789M.627.6v18.789M401.791.6v18.789M451.937.6v18.789M502.082.6v18.789M552.228.6v18.789M602.373.6v18.789M361.674.5v9.889M411.82.5v9.889M461.967.5v9.889M512.111.5v9.889M562.256.5v9.889M311.529.5v9.889M261.383.5v9.889M211.238.5v9.889M161.092.5v9.889M110.947.5v9.889M60.803.5v9.889M10.656.5v9.889M371.703.5v9.889M421.849.5v9.889M471.996.5v9.889M522.14.5v9.889M572.285.5v9.889M321.558.5v9.889M271.412.5v9.889M221.267.5v9.889M171.121.5v9.889M120.976.5v9.889M70.83.5v9.889M20.685.5v9.889M381.732.5v9.889M431.879.5v9.889M482.023.5v9.889M532.17.5v9.889M582.314.5v9.889M331.588.5v9.889M281.441.5v9.889M231.297.5v9.889M181.15.5v9.889M131.006.5v9.889M80.86.5v9.889M30.715.5v9.889M391.762.5v9.889M441.908.5v9.889M492.053.5v9.889M542.199.5v9.889M592.344.5v9.889M341.617.5v9.889M291.471.5v9.889M241.324.5v9.889M191.18.5v9.889M141.035.5v9.889M90.889.5v9.889M40.744.5v9.889%22%20stroke%3D%22%235c5d5f%22%20stroke-linecap%3D%22square%22%2F%3E%3C%2Fsvg%3E") no-repeat;
      background-size: contain;
      background-position: center;
      width: 97%;
      height: 20px;
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    .enWidget__progress,
    .enWidget__fill {
      border-radius: 100px;
    }
  }

  .form-heading h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    margin-top: var(--lg);
    margin-bottom: var(--md);
  }

  .en__component--formblock .en__field .en__field__helpText,
  .en__component--formblock .en__field .en__field__label:not(.en__field__label--item):not([for*=svquestion]),
  .en__component--svblock .en__field .en__field__helpText,
  .en__component--svblock .en__field .en__field__label:not(.en__field__label--item):not([for*=svquestion]),
  .en__registrants__registrantDetails .en__field .en__field__helpText,
  .en__registrants__registrantDetails .en__field .en__field__label:not(.en__field__label--item):not([for*=svquestion]) {
    justify-content: unset;
  }

  span.asterisk {
    color: var(--color_semantic-required);
  }

  select.en__field__input:not(.en__field__input--vgs) {
    appearance: none;
    padding: var(--input_padding);
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M13.354%206.35354L8.35403%2011.3535C8.30759%2011.4%208.25245%2011.4369%208.19175%2011.4621C8.13105%2011.4872%208.06599%2011.5002%208.00028%2011.5002C7.93457%2011.5002%207.86951%2011.4872%207.80881%2011.4621C7.74811%2011.4369%207.69296%2011.4%207.64653%2011.3535L2.64653%206.35354C2.55271%206.25972%202.5%206.13247%202.5%205.99979C2.5%205.86711%202.55271%205.73986%202.64653%205.64604C2.74035%205.55222%202.8676%205.49951%203.00028%205.49951C3.13296%205.49951%203.26021%205.55222%203.35403%205.64604L8.00028%2010.2929L12.6465%205.64604C12.693%205.59958%2012.7481%205.56273%2012.8088%205.53759C12.8695%205.51245%2012.9346%205.49951%2013.0003%205.49951C13.066%205.49951%2013.131%205.51245%2013.1917%205.53759C13.2524%205.56273%2013.3076%205.59958%2013.354%205.64604C13.4005%205.69249%2013.4373%205.74764%2013.4625%205.80834C13.4876%205.86904%2013.5006%205.93409%2013.5006%205.99979C13.5006%206.06549%2013.4876%206.13054%2013.4625%206.19124C13.4373%206.25193%2013.4005%206.30708%2013.354%206.35354Z%22%20fill%3D%22%23333333%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 26px;
  }

  .radio-to-buttons_recurrfreq .en__field--recurrfreq .en__field__element--radio {
    --fields_spacing-inline: 4px;
    border: 2px solid var(--color_evergreen);
    border-radius: 100px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--color_white);
    padding: 0;
    position: relative;
    overflow: hidden;

    &::before {
      border-radius: 100px;
      background-color: var(--color_evergreen);
      outline: 2px solid var(--color_evergreen);
      bottom: 0;
      left: 0;
      top: 0;
      content: "";
      position: absolute;
      transform: translateX(0);
      transition: transform .3s ease;
      width: 317px;
      z-index: 0;
    }

    &:has(input[value="MONTHLY"]:checked)::before {
      transform: translateX(100.5%);
    }

    input[value="MONTHLY"]+label::after {
      content: "";
      width: 35px;
      height: 35px;
      margin-left: 17px;
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/hearts-drifting.svg?v=1781123606000") center / contain no-repeat;
    }

    input[value="MONTHLY"]:checked+label::after {
      content: "";
      width: 35px;
      height: 35px;
      margin-left: 17px;
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/heart-beating.svg?v=1781124090000") center / contain no-repeat;
    }


    .en__field__item {
      padding: 4px 8px;
    }

    .en__field__item,
    .en__field__label--item {
      position: relative;
      z-index: 1;
    }

    input {
      outline-offset: 2px;
    }

  }

  .frequency-nudge {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;

    .recurring-frequency-monthly-hide {
      color: var(--color_evergreen);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      padding: 0px 66px 0 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;

      &::after {
        transition: width 0.3s ease;
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        width: 56px;
        height: 24px;
        background: var(--arrow-bg-url) no-repeat;
        background-size: contain;
      }
    }

    body:not(#en__pagebuilder):not([data-engrid-debug])[data-engrid-transaction-recurring=y][data-engrid-transaction-recurring-frequency=monthly] .recurring-frequency-monthly-hide {
      &::after {
        content: "";
        background: url("");
        width: 0px;
      }
    }

    .recurring-frequency-monthly-show {
      color: var(--color_evergreen);
      text-align: center;
      font-style: normal;
      font-weight: 700;
      margin: 0;
      min-height: 32px;
    }

    .animate-appear {
      z-index: -1;
      animation: bounceInDown 0.5s ease;
    }
  }

  .radio-to-buttons_donationAmt {
    --fields_spacing-inline: 4px;

    .en__field__item .en__field__label {
      min-height: 65px;
    }

    .en__field__input--other {
      position: relative;
      --donation-amount__button_background-color_checked: var(--color_white);
      --donation-amount__button_color_checked: var(--color_earth);
      --input_font-family: var(--default_font-family);
      --input_font-weight: 700;
    }

    .en__field__item--other:before {
      content: "$";
      font-size: var(--donation-amount__button_font-size);
      font-weight: 700;
      left: 30px;
      line-height: 0;
      position: absolute;
      line-height: 68px;
      top: 0;
      height: 73px;
      width: 11px;
      pointer-events: none;
      z-index: 1;
    }

    .en__field__item--other input {
      padding: 12px 58px 12px 39px;
      font-size: var(--donation-amount__button_font-size);
    }

    .en__field--donationAmt.en__field--radio>.en__field__element .en__field__item.engrid_other-fullwidth {
      position: relative;

      &.en__field__item--hidden {
        max-height: 0;
        padding: 0;

        input {
          margin-left: var(--fields_spacing-inline);
          margin-right: var(--fields_spacing-inline);
        }
      }

      max-height: 73px;
      overflow: hidden;
      flex-basis: 100%;
      transition: max-height 0.3s ease;

      input {
        height: fit-content;
      }
    }

    // Suggested Amount
    .en__field--donationAmt div:not(.en__field__item--other) .engrid__suggested-amount+.en__field__label {
      position: relative;

      &::before {
        display: block;
        margin-left: unset;
        opacity: 1;
        content: "Suggested";
        font-family: "Helvetica Neue";
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 12px;
        letter-spacing: 0.12px;
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color_moss);
        color: black;
        border: 1.5px solid var(--color_evergreen);
        border-radius: 16px;
        text-transform: uppercase;
        padding: 5px 10px;
        min-width: 100px;
        margin-right: unset;
        margin-left: unset;
        height: unset;
        box-shadow: unset;
      }
    }

  }

  .give-by-select-wrapper {
    .en__field__label {
      display: flex;
      gap: 25px;
    }

    .ach {
      .en__field__label {
        gap: 8px;
      }
    }

    .paypal {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/paypal.svg?v=1781207227000") center / contain no-repeat;
      width: 129px;
      height: 33px;
      margin-left: -15px;
    }

    .venmo {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/venmo.svg?v=1781207228000") center / contain no-repeat;
      width: 112px;
      height: 21px;
      margin-bottom: -8px;
    }

    .gpay {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/gpay.svg?v=1781207660000") center / contain no-repeat;
      width: 83px;
      height: 33px;
    }

    .applepay {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/applepay.svg?v=1781207229000") center / contain no-repeat;
      width: 78px;
      height: 33px;
    }

    .bank {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/bank.svg?v=1781207224000") center / contain no-repeat;
      width: 27px;
      height: 26px;
    }

    .dafpay {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/daf.png?v=1781207223000") center / contain no-repeat;
      width: 101px;
      height: 34px;
    }

    .cards {
      background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/cards.svg?v=1781207225000") center / contain no-repeat;
      width: 259px;
      height: 33px;
    }

    input:checked+label {
      .paypal {
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/paypal-active.svg?v=1781207222000") center / contain no-repeat;
      }

      .venmo {
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/venmo-active.svg?v=1781207223000") center / contain no-repeat;
      }

      .gpay {
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/gpay-active.svg?v=1781207661000") center / contain no-repeat;
      }

      .applepay,
      .bank {
        filter: invert(100%) brightness(200%);
      }

      .dafpay {
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/daf-active.png?v=1781207215000") center / contain no-repeat;
      }

      .cards {
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/cards-active.svg?v=1781207219000") center / contain no-repeat;
      }

    }
  }

  .sms-disclaimer p {
    margin-top: -8px;
    margin-bottom: 8px;
  }

  .gift-summary {
    --p_font-size: --default_font-size;
    --p_line-height: var(--default_line-height);
    text-align: center;

    .floating-hearts-p {
      margin-top: 24px;
      margin-bottom: 15px;
    }

    p {
      margin-top: 15px;
      margin-bottom: 32px;
    }
  }

  .remember-me {
    margin-top: -16px;
  }

  .link-list ul {
    padding: 0;
    margin: 0;

    a {
      font-weight: 700;
      font-size: 16px;
      color: var(--color_earth);
      text-decoration: none;
      width: 100%;
      display: block;
    }

    li {
      margin-top: var(--sm);
      position: relative;
      list-style: none;
      padding-right: 36px;
    }

    a::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 26px;
      height: 26px;
      background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2026%2026%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m9%2022%209-9-9-9%22%20stroke%3D%22%23362229%22%20stroke-width%3D%222%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
    }
  }

  .en__submit {
    --button_border-width: 0px;
    line-height: 45px;
    transition: background-color 0.3s ease, color 0.3s ease;

    button {
      margin-top: var(--md);
    }

    .live-variable-currency,
    .live-variable-amount {
      font-size: var(--submit__button_font-size);
      font-weight: 500;
      line-height: 45px;
    }

    .live-variable-frequency {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 28px;
      font-style: italic;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0.28px;
    }
  }

  .content-footer {
    color: var(--color_white);
    grid-column: bc;
    --default_font-size: 12px;
    --default_line-height: 16px;
    --p_font-size: 12px;
    --p_line-height: 16px;
    --a_font-size: var(--default_font-size);
    --a_color: var(--color_white);
    margin-bottom: -50px;

    p {
      margin-block-start: var(--xl);
      margin-block-end: var(--xl);
    }

    .footer-main-copy {
      margin-top: var(--xl);

      img {
        margin: 0 0;
      }
    }

    .footer-links {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--xl);
    }

    .footer-signature {
      font-size: 12px;
    }

    .love {
      display: inline-block;
      margin-left: 28px;
      position: relative;

      // Heart to the left of the span
      ::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12.25px;
        background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%2212%22%20viewBox%3D%220%200%2013%2012%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M5.99%201.449C7.402.052%209.697-.671%2011.23.859%2014.82%204.44%208.16%209.516%206%2012%203.929%209.486-2.44%204.268%201%20.852c1.538-1.527%203.578-.8%204.99.597%22%20fill%3D%22%23fefbfb%22%2F%3E%3C%2Fsvg%3E") no-repeat;
      }
    }
  }

  .content-footer .en__component--copyblock {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,
          var(--color_sun) 0 calc(100% / 3),
          var(--color_grass) calc(100% / 3) calc(100% / 3 * 2),
          var(--color_sky) calc(100% / 3 * 2) 100%);
    }

  }


  .en__field--giveBySelect .en__field__label--item {
    min-height: 65px;
  }

  .en__field--giveBySelect .en__field__label--item img {
    height: 30px;
    width: 100%;
    object-fit: contain;
  }

  .en__submit button {
    border-radius: 100px;
  }

  .en__submit button:hover {
    background-color: var(--color_sun);
  }
}

/* Add your custom theme styles here */
[data-engrid-theme="tpl"] {
  @mixin mobile {
    --engrid__body-headerOutside_padding: 24px 22px var(--lg) 22px;
    --engrid__body-title_padding: 20px 22px 0 22px;
    --engrid__body-top_padding: 4px 22px 20px 22px;
    --engrid__body-main_padding: 0 22px;
    --engrid__body-bottom_padding: 20px 22px 40px 22px;
    --engrid__content-footer_padding: 40px 22px;
    --h1_font-size: 32px;
    --h1_line-height: 36px;

    --recurring-frequency__button_font-size: 24px;
    --recurring-frequency__button_line-height: 16px;
    --recurring-frequency__button_count: 2;
    --donation-amount__button_count: 2;

    // STYLES
    .body-headerOutside p {
      text-align: center;
    }

    .content-footer .footer-links {
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }

    .page-backgroundImage::before {
      display: none;
    }

    &:not(#en__pagebuilder)[data-engrid-layout="leftleft1col"] {
      .page-backgroundImage {
        grid-row: body-header;
        grid-column: bc / pc;
      }

      .body-header {
        display: none;
      }
    }

    .radio-to-buttons_recurrfreq .en__field--recurrfreq .en__field__element--radio::before {
      width: 50%;
    }


    .radio-to-buttons_recurrfreq .en__field--recurrfreq .en__field__element--radio {

      input[value="MONTHLY"]+label::after {
        content: "";
        width: 22px;
        height: 22px;
        margin-left: 8px;
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/hearts-drifting.svg?v=1781123606000") center / contain no-repeat;
      }

      input[value="MONTHLY"]:checked+label::after {
        content: "";
        width: 22px;
        height: 22px;
        margin-left: 8px;
        background: url("https://bd6ca9cefa6fb6e0adf1-c2f9aa1adb9f60a775f60074e4c86031.ssl.cf5.rackcdn.com/20002/heart-beating.svg?v=1781124090000") center / contain no-repeat;
      }
    }

    .radio-to-buttons_donationAmt .en__field--donationAmt .en__field__element--radio {
      --fields_spacing-inline: 6px;
    }

    &[data-engrid-page-background="image"][data-engrid-layout="rightright1col"] .page-backgroundImage:before,
    &[data-engrid-page-background="image"][data-engrid-layout="rightright1col"] figure.media-with-attribution {
      background-position: center;
      left: 0;
      right: $one_col_body-column_max-width;
      width: calc(100% - $one_col_body-column_max-width);
    }

    .arrow-right {
      font-size: 18px;
      max-width: 300px;
    }


    &:not(#en__pagebuilder) {
      .page-backgroundImage img {
        display: unset;
      }

      .page-backgroundImage img.background-desktop {
        display: none;
      }

      .hideif-mobile {
        display: none;
      }
    }
  }

  @mixin desktop {
    // STYLES
  }

  @mixin simplified-header {
    // STLES
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @media (max-width: 767.99px) {
      @include mobile;
    }

    @media (min-width: 768px) {
      @include desktop;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }
}

@keyframes bounceInDown {

  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0) scaleY(3);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 15px, 0) scaleY(0.9);
  }

  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}